<div class="layout-landing">

  {{components/region-header/header}}

  <div id="main">

    <div id="content" role="content">
      <a id="main-content"></a>

      <div class="row1 columns-1">
        <div class="col1">
        </div>
      </div>

      <div class="row2 columns-2">
        <div class="col1">
        </div>
        <div class="col2">
        </div>
      </div>

      <div class="row3 columns-1">
        <div class="col1">
        </div>
      </div>

    </div><!-- /#content -->

  </div><!-- /#main -->

  {{components/region-footer/footer}}

</div>