<div id="block-menu-menu-social-links" class="block block-menu contextual-links-region even" role="navigation">
  <h2 class="block-title">Social links</h2>
  <ul class="menu">
    <li class="first leaf">
      <a href="http://www.facebook.com" class="facebook">Facebook</a>
    </li>
    <li class="leaf">
      <a href="http://www.twitter.com" class="twitter">Twitter</a>
    </li>
    <li class="last leaf">
      <a href="http://www.youtube.com" class="youtube">YouTube</a>
    </li>
  </ul>
  <a id='context-block-menu-menu-social-links' class='context-block editable edit-footer_blocks'></a>
</div><!-- /.block -->