<div class="block apply-admissions">
  <h2 class="block-title">Apply for Admission to the College</h2>
  <h5>New Students</h5>
  <p>You are a new student if you have never taken credited classes at Gray Harbor College or have previously applied but never attended.</p>
  <h5>Returning Students</h5>
  <p>You are a returning student if you have previously attended credited classes and have not attended for one quarter or more.</p>
  <h5>International Students</h5>
  <p>You are an international student if you plan to study at Grays Harbor College using a student visa. Students must meet the required English proficiency in order to be admitted to Grays Harbor College.</p>
  <h5>Admission for Students Under 18 Years of Age</h5>
  <p>You will need to apply for Admission as an underage student if you will be under the age of 18 when you start attending Grays Harbor College and have not graduated from high school or earned your GED.</p>
</div>