<div class="block estimated-cost">
  <h2 class="block-title">Estimated Cost of Attending College</h2>
  <img src="" alt="">
  <p>Students who complete their freshman and sophomore coursework at GHC before transferring to universities as juniors are making a smart move: they attend <span class="bold">smaller classes</span> with more individual instruction from <span class="bold">dedicated faculty</span> with advanced degrees whose primary job is to teach, not to do research. They also pay about <span class="bold italic">half as much tuition</span> and earn similar or higher GPAs compared to students who begin their college experience at the university.</p>
</div>