<div id="block-menu-menu-audience-menu" class="block block-menu contextual-links-region first odd" role="navigation">
  <h2 class="block-title">Audience menu</h2>
  <ul class="menu">
    <li class="first leaf">
      <a href="/node/1" title="">Prospective Students</a>
    </li>
    <li class="leaf">
      <a href="/node/2" title="">Current Students</a>
    </li>
    <li class="leaf">
      <a href="/node/3" title="">Faculty &amp; Staff</a>
    </li>
    <li class="last leaf">
      <a href="/node/4" title="">Community</a>
    </li>
  </ul>
</div><!-- /.block -->