<div class="primary-menu">
  <nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1><a href="#"></a></h1>
      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon">
        <a href="#">
          <span aria-hidden="true" class="icon-menu">Menu</span>
        </a>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li class="first has-dropdown">
          <a href="">Enrollment</a>
            <ul class="dropdown">
              <li><a href="">Admissions</a></li>
              <li><a href="">Assessment (CPT) Testing</a></li>
              <li><a href="">Advising</a></li>
              <li><a href="">Registering for Classes</a></li>
              <li><a href="">Paying for College (Financial Aid)</a></li>
              <li><a href="">Tuition and Fees</a></li>
              <li><a href="">Academic Calendar</a></li>
            </ul>
        </li>
        <li class="has-dropdown">
          <a href="">Areas of Study</a>
            <ul class="dropdown">
              <li><a href="">List of Programs (A-Z and by topic)</a></li>
              <li><a href="">Academic Transfer Degrees</a></li>
              <li><a href="">Job Training (Workforce/Vocational Education)</a></li>
              <li><a href="">Continuing Education</a></li>
              <li><a href="">Adult Basic Education</a></li>
            </ul>
          </a>
        </li>
        <li class="has-dropdown">
          <a href="">Student Support Services</a>
            <ul class="dropdown">
              <li><a href="">Counseling</a></li>
              <li><a href="">Advising</a></li>
              <li class="has-dropdown">
                <a href="">Student Success</a>
                <ul class="dropdown">
                  <li><a href="">New Student Orientation (Fast4Ward)</a></li>
                  <li><a href="">Early Alert</a></li>
                  <li><a href="">First Year Experience Classes</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a href="">Testing Services</a>
                <ul class="dropdown">
                  <li><a href="">College Placement Test</a></li>
                  <li><a href="">GED Testing</a></li>
                  <li><a href="">CLEP</a></li>
                  <li><a href="">Proctored Exams</a></li>
                </ul>
              </li>
              <li><a href="">Financial Aid</a></li>
              <li class="has-dropdown">
                <a href="">Registration &amp; Transcripts</a>
                <ul class="dropdown">
                  <li><a href="">Registration</a></li>
                  <li><a href="">Transcript Requests</a></li>
                </ul>
              </li>
            </ul>
        </li>
        <li class="has-dropdown">
          <a href="">Student Life</a>
            <ul class="dropdown">
              <li><a href="">Athletics</a></li>
              <li><a href="">Clubs &amp; Organizations</a></li>
              <li><a href="">Student Government</a></li>
              <li><a href="">Cafeteria/Food Services</a></li>
              <li><a href="">Bishop Center for the Performing Arts</a></li>
            </ul>
        </li>
        <li class="has-dropdown">
          <a href="">About GHC</a>
            <ul class="dropdown">
              <li><a href="">About the Area</a></li>
              <li><a href="">Campus Map</a></li>
              <li><a href="">Driving Directions</a></li>
              <li><a href="">Employment Opportunities</a></li>
              <li class="has-dropdown">
                <a href="">Faculty &amp; Staff Resources</a>
                <ul class="dropdown">
                  <li><a href="">Office of Instruction</a></li>
                  <li><a href="">Human Resources</a></li>
                  <li><a href="">Campus Operations and Security</a></li>
                </ul>
              </li>
              <li><a href="">The Foundation</a></li>
            </ul>
        </li>
        <li class="has-dropdown">
          <a href="">Contact Information</a>
            <ul class="dropdown">
              <li><a href="">Faculty &amp; Staff Directory</a></li>
              <li><a href="">Faculty Office Hours</a></li>
              <li><a href="">Offices and Departments</a></li>
              <li><a href="">Executive Team</a></li>
              <li><a href="">GHC Facilities</a></li>
              <li><a href="">Fax Numbers</a></li>
            </ul>
        </li>
        <li class="even last">
          <a href="#">Apply Now</a>
        </li>
      </ul>
    </section>
  </nav> <!-- /.top-bar -->
</div>