<div class="block recent-news panel-pane pane-views-panes pane-news-panel-pane-2">
  <h2 class="block-title">Recent news</h2>
  <div class="pane-content content">
    <div class="view view-news view-id-news view-display-id-panel_pane_2 jquery-once-1-processed">
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
          <div class="views-field views-field-title">
            <h3 class="field-content"><a href="/cei/press-room/career-exploration-day-gateway-community-college-spring-2013">Career Exploration Day - Spring 2013</a></h3>
          </div>
          <div class="views-field views-field-field-news-date">
            <div class="field-content"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-02-19T15:00:00-07:00">Feb 19, 2013, 3:00 p.m.</span></div>
          </div>
          <div class="views-field views-field-body">        <span class="field-content">
            Mark Your Calendar
            Spring Career Exploration Day: March 28, 2013... <a href="/cei/press-room/career-exploration-day-gateway-community-college-spring-2013" class="views-more-link">Read more</a></span>  
          </div>
        </div>
        <div class="views-row views-row-2 views-row-even">
          <div class="views-field views-field-title">
            <h3 class="field-content"><a href="/cei/press-room/gateway-searches-new-president">Search for new president</a></h3>
          </div>
          <div class="views-field views-field-field-news-date">
            <div class="field-content"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-02-19T14:30:00-07:00">Feb 19, 2013, 2:30 p.m.</span></div>
          </div>
          <div class="views-field views-field-body">        <span class="field-content">We are looking for a new president to lead the nearly 45-year-old institution... <a href="/cei/press-room/gateway-searches-new-president" class="views-more-link">Read more</a></span>  </div>
        </div>
        <div class="views-row views-row-3 views-row-odd">
          <div class="views-field views-field-title">
            <h3 class="field-content"><a href="/cei/press-room/mcccd-develops-new-corporate-college">New Corporate College </a></h3>
          </div>
          <div class="views-field views-field-field-news-date">
            <div class="field-content"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-02-19T13:45:00-07:00">Feb 19, 2013, 1:45 p.m.</span></div>
          </div>
          <div class="views-field views-field-body">        <span class="field-content">
            We recently announced the creation... <a href="/cei/press-room/mcccd-develops-new-corporate-college" class="views-more-link">Read more</a></span>  
          </div>
        </div>
        <div class="views-row views-row-4 views-row-even views-row-last">
          <div class="views-field views-field-title">
            <h3 class="field-content"><a href="/cei/press-room/gateway-community-college-holds-water-open-house">Water Open House</a></h3>
          </div>
          <div class="views-field views-field-field-news-date">
            <div class="field-content"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-02-06T16:45:00-07:00">Feb 6, 2013, 4:45 p.m.</span></div>
          </div>
          <div class="views-field views-field-body">        <span class="field-content">Wednesday, February 6, 2013
            We are Hosting a Water... <a href="/cei/press-room/gateway-community-college-holds-water-open-house" class="views-more-link">Read more</a></span>  
          </div>
        </div>
      </div>
      <div class="item-list">
        <ul class="pager clearfix">
          <li class="pager-previous first"></li>
          <li class="pager-current">1 of 8</li>
          <li class="pager-next last"><a title="Go to next page" href="/cei/home?page=1">next ›</a></li>
        </ul>
      </div>
      <div class="view-footer">
        <a href="/cei/news">Read all news</a>    
      </div>
    </div>
  </div>
</div>