<div class="slideshow-wrapper">
  <div class="preloader"></div>
  <ul data-orbit>
    <li>
      <img src="/images/slideshow-demo1.jpg" />
      <div class="orbit-caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
    </li>
    <li>
      <img src="/images/slideshow-demo2.jpg" />
      <div class="orbit-caption">In vitae erat ac orci dignissim eleifend.</div>
    </li>
    <li>
      <img src="/images/slideshow-demo3.jpg" />
      <div class="orbit-caption">Morbi egestas, urna non consequat tempus, nunc arcu mollis enim, eu aliquam erat nulla non nibh.</div>
    </li>
  </ul>
</div>