<!-- <div class="slideshow-wrapper">
  <div class="preloader"></div>
  <ul data-orbit>
    <li>
      <img src="images/slideshow-demo1.jpg" />
      <div class="orbit-caption">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</div>
    </li>
    <li>
      <img src="images/slideshow-demo2.jpg" />
      <div class="orbit-caption">In vitae erat ac orci dignissim eleifend.</div>
    </li>
    <li>
      <img src="images/slideshow-demo3.jpg" />
      <div class="orbit-caption">Morbi egestas, urna non consequat tempus, nunc arcu mollis enim, eu aliquam erat nulla non nibh.</div>
    </li>
  </ul>
</div> -->

<!-- Place somewhere in the <body> of your page -->
<div id="slider" class="flexslider">
  <ul class="slides">
    <li>
      <img src="images/slideshow-demo1.jpg" />
      <div class="caption">
        <h1 class="title"><a href="http://css-tricks.com/metafizzy-effect-with-sass/">Science Magnified</a></h1>
        <span class="subheading">
          <a href="http://css-tricks.com/metafizzy-effect-with-sass/">Biology students scrutinize parasites up close and personal with the amazing critters of the earth. Biology students scrutinize.... </a>
        </span>
        <span class="read-more">
          <a href="#">Read More</a>
        </span>
        </a>
      </div>
    </li>
    <li>
      <img src="images/slideshow-demo2.jpg" />
    </li>
    <li>
      <img src="images/slideshow-demo3.jpg" />
    </li>
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>