// Hide block titles
%block-title-hide {
  .block-title {
    display: none;
  }
}

// Hide other things
.element-invisible,
%hide {
  display: none;
}

// Block layout fixes
%block-layout-fix {
  clear: both;
  margin-bottom: 1em;
}

// Inline list center
%inline-list-center {
  margin: 0;
  text-align: center;
  li {
    display: inline;
    a {
      padding: .25em .5em;
    }
  }
}

// Sidebar menu
%sidebar-menu {  
  li {
    border-bottom: 1px solid $gray-light;
    margin-bottom: 0;
    &.first {
      border-top: 1px solid $gray-light;
    }
    a {
      background-color: $gray-lighter;
      padding: .5em 1em;
    }
    li {
      border-bottom: 0 none;
      padding-bottom: .75em;
      &.first {
        border-top: 0 none;
      }
      a {
        background-color: transparent;
        padding: 0;
      }
    }
    ul {
      background-color: lighten($gray-lighter, 5%);
      padding: 1em;
      ul {
        background-color: transparent;
      }
    }
  }
}

// Floats
%float-left {
  float: left;
  margin: 0 1em 1em 0;
}
%float-right {
  float: right;
  margin: 0 0 1em 1em;
}

// Read more
%read-more {
  text-align: right;
}

// Field
%field-default {  
  margin-bottom: 1em;
  .label {
    font-weight: bold;
  }
}

%view-teaser-list {
  .views-row {
    margin-bottom: 1em;
  }
  h3 {
    @extend .subheader;
    font-size: $h5-font-size;
    &.field-content {
      margin-bottom: 0;
    }
  }
  .views-field-field-news-date,
  .views-field-body {
    font-size: $small-font-size;
  }
  .views-field-field-news-date {
    font-weight: bold;
  }
}