//
// Layout
//

// Grid variables

// $row-width: emCalc(1000);
// $column-gutter: emCalc(30);
$total-columns: 12;

// $column-gutter-half: $column-gutter / 2;

// Column variables - use these to set your region widths
$full-width:           $total-columns;
$sidebar-1-width:      3;

$content-width:        $full-width - $sidebar-1-width;


// Media Queries

$small-screen: 768px;
$medium-screen: 1190px;
// $large-screen: 1440px;

// $screen: "only screen";
// $small: "only screen and (min-width: #{$small-screen})";
// $medium: "only screen and (min-width: #{$medium-screen})";
// $large: "only screen and (min-width: #{$large-screen})";
// $landscape: "only screen and (orientation: landscape)";
// $portrait: "only screen and (orientation: portrait)";

$print-media: "print";

$topbar-breakpoint: $small-screen;


//
// Colors
//

$white:        #ffffff;
$gray-lighter:   darken($white, 10%);
$gray-light:   darken($white, 25%);
$gray:         darken($white, 50%);
$gray-dark:    darken($white, 75%);
$black:      #000000;


//
// Typography
//

$small-font-size: 80%;