//
// Layout
//

// Grid variables

$row-width: 1000px;
// $column-gutter: emCalc(30);
$total-columns: 12; // Caution: changing this will alter the breakpoints

// $column-gutter-half: $column-gutter / 2;

$grid-width: $row-width / $total-columns;


// Column variables - use these to set your region widths
$full-width:           $total-columns;
$sidebar-1-width:      3;
$content-width:        $full-width - $sidebar-1-width;


// Media Queries

$small-screen: 768px;
$medium-screen: 1090px;
// $large-screen: 1440px;

// $screen: "only screen";
// $small: "only screen and (min-width: #{$small-screen})";
// $medium: "only screen and (min-width: #{$medium-screen})";
// $large: "only screen and (min-width: #{$large-screen})";
// $landscape: "only screen and (orientation: landscape)";
// $portrait: "only screen and (orientation: portrait)";

// @for $i 1 through $total-columns {
//   $grid-break-#{$i}:
// }

$print-media: "print";

$topbar-breakpoint: $small-screen;


//
// Colors
//

$white:        #ffffff;
$gray-lighter:   darken($white, 10%);
$gray-light:   darken($white, 25%);
$gray:         darken($white, 50%);
$gray-dark:    darken($white, 75%);
$black:      #000000;


//
// Typography
//

$small-font-size: 80%;