<div class="panel-pane pane-views-panes pane-calendar-panel-pane-4">
  <div class="pane-content">
    <div class="view view-calendar view-id-calendar view-display-id-panel_pane_4 calendar-responsive view-dom-id-c303b0aa33ef4c253ef3d26331e7ba78">
      <div class="view-filters">
        <form action="/hartnell/" method="get" id="views-exposed-form-calendar-panel-pane-4" accept-charset="UTF-8">
          <div>
            <div class="views-exposed-form">
              <div class="views-exposed-widgets clearfix">
                <div id="edit-audience-wrapper" class="views-exposed-widget views-widget-filter-field_audience_tid">
                  <label for="edit-audience">
                  Audience          </label>
                  <div class="views-widget">
                    <div class="form-item form-type-select form-item-audience">
                      <select id="edit-audience" name="audience" class="form-select">
                        <option value="All" selected="selected">- Any -</option>
                        <option value="1">Students</option>
                        <option value="6">-Current Students</option>
                        <option value="54">-Prospective Students</option>
                        <option value="7">-Future Students</option>
                        <option value="8">-Transfer Students</option>
                        <option value="2">Parents</option>
                        <option value="3">Alumni</option>
                        <option value="4">Faculty &amp; Staff</option>
                        <option value="5">Community</option>
                        <option value="102">Employers</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div id="edit-event-type-wrapper" class="views-exposed-widget views-widget-filter-field_event_type_tid">
                  <label for="edit-event-type">
                  Event type          </label>
                  <div class="views-widget">
                    <div class="form-item form-type-select form-item-event-type">
                      <select id="edit-event-type" name="event_type" class="form-select">
                        <option value="All" selected="selected">- Any -</option>
                        <option value="48">Public lecture</option>
                        <option value="47">School closure</option>
                        <option value="45">Student activity</option>
                        <option value="92">-Athletic Event</option>
                        <option value="46">Academic calendar</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="views-exposed-widget views-submit-button">
                  <input type="submit" id="edit-submit-calendar" name="" value="Filter" class="form-submit">    
                </div>
                <div class="views-exposed-widget views-reset-button">
                  <input type="submit" id="edit-reset" name="op" value="Reset filters" class="form-submit">      
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="view-content">
        <h3><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-08-18T22:00:00-07:00">Sun, Aug 18</span></h3>
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
          <div class="views-field views-field-title">
            <h4 class="field-content calendar-title-list"><a href="/hartnell/calendar/cinderella-trail-run">Cinderella Trail Run</a></h4>
          </div>
          <div class="views-field views-field-field-event-date-1">
            <div class="field-content calendar-time-list"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-08-18T22:00:00-07:00">10:00 PM</span></div>
          </div>
        </div>
        <h3><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-08-23T13:30:00-07:00">Fri, Aug 23</span></h3>
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
          <div class="views-field views-field-title">
            <h4 class="field-content calendar-title-list"><a href="/hartnell/calendar/mens-cross-country-championships">Mens Cross Country Championships</a></h4>
          </div>
          <div class="views-field views-field-field-event-date-1">
            <div class="field-content calendar-time-list"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-08-23T13:30:00-07:00">1:30 PM</span></div>
          </div>
        </div>
        <h3><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-09-07T10:30:00-07:00">Sat, Sep 7</span></h3>
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
          <div class="views-field views-field-title">
            <h4 class="field-content calendar-title-list"><a href="/hartnell/calendar/mens-football-0">Mens Football</a></h4>
          </div>
          <div class="views-field views-field-field-event-date-1">
            <div class="field-content calendar-time-list"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-09-07T10:30:00-07:00">10:30 AM</span></div>
          </div>
        </div>
        <h3><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-09-14T12:00:00-07:00">Sat, Sep 14</span></h3>
        <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
          <div class="views-field views-field-title">
            <h4 class="field-content calendar-title-list"><a href="/hartnell/calendar/mens-football">Men's Football</a></h4>
          </div>
          <div class="views-field views-field-field-event-date-1">
            <div class="field-content calendar-time-list"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-09-14T12:00:00-07:00">12:00 PM</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>