<div class="block-calendar panel-pane pane-views-panes pane-calendar-panel-pane-4" >
  <div class="pane-content">
    <div class="view view-calendar view-id-calendar view-display-id-panel_pane_4 calendar-responsive view-dom-id-c303b0aa33ef4c253ef3d26331e7ba78">
      <div class="view-filters">
        <form action="/" method="get" id="views-exposed-form-calendar-panel-pane-4" accept-charset="UTF-8">
          <div>
            <div class="views-exposed-form">
              <div class="views-exposed-widgets clearfix">
                <div id="edit-audience-wrapper" class="views-exposed-widget views-widget-filter-field_audience_tid">
                  <label for="edit-audience">Audience</label>
                  <div class="views-widget">
                    <div class="form-item form-type-select form-item-audience">
                      <select id="edit-audience" name="audience" class="form-select">
                        <option value="All" selected="selected">- Any -</option>
                        <option value="1">Students</option>
                        <option value="6">-Current Students</option>
                        <option value="54">-Prospective Students</option>
                        <option value="7">-Future Students</option>
                        <option value="8">-Transfer Students</option>
                        <option value="2">Parents</option>
                        <option value="3">Alumni</option>
                        <option value="4">Faculty &amp; Staff</option>
                        <option value="5">Community</option>
                        <option value="102">Employers</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div id="edit-event-type-wrapper" class="views-exposed-widget views-widget-filter-field_event_type_tid">
                  <label for="edit-event-type">Event type</label>
                  <div class="views-widget">
                    <div class="form-item form-type-select form-item-event-type">
                      <select id="edit-event-type" name="event_type" class="form-select">
                        <option value="All" selected="selected">- Any -</option>
                        <option value="48">Public lecture</option>
                        <option value="47">School closure</option>
                        <option value="45">Student activity</option>
                        <option value="92">-Athletic Event</option>
                        <option value="46">Academic calendar</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="views-exposed-widget views-submit-button">
                  <input type="submit" id="edit-submit-calendar" name="" value="Filter" class="form-submit" />
                </div>
                <div class="views-exposed-widget views-reset-button">
                  <input type="submit" id="edit-reset" name="op" value="Reset filters" class="form-submit" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="view-content">
        <div class="fullcalendar-status"></div>
        <div class="fullcalendar jquery-once-1-processed fc ui-widget">
          <table class="fc-header" style="width:100%">
            <tbody>
              <tr>
                <td class="fc-header-left"><span class="fc-button fc-button-today ui-state-default ui-corner-left ui-corner-right ui-state-disabled"><span class="fc-button-inner"><span class="fc-button-content">Today</span><span class="fc-button-effect"><span></span></span></span></span><span class="fc-header-space"></span><span class="fc-button fc-button-prev ui-state-default ui-corner-left"><span class="fc-button-inner"><span class="fc-button-content"><span class="fc-icon-wrap"><span class="ui-icon ui-icon-circle-triangle-w"></span></span></span><span class="fc-button-effect"><span></span></span></span></span><span class="fc-button fc-button-next ui-state-default ui-corner-right"><span class="fc-button-inner"><span class="fc-button-content"><span class="fc-icon-wrap"><span class="ui-icon ui-icon-circle-triangle-e"></span></span></span><span class="fc-button-effect"><span></span></span></span></span></td>
                <td class="fc-header-center">
                  <span class="fc-header-title">
                    <h2>August 2013</h2>
                  </span>
                </td>
                <td class="fc-header-right"><span class="fc-button fc-button-month ui-state-default ui-corner-left ui-corner-right ui-state-active"><span class="fc-button-inner"><span class="fc-button-content">Month</span><span class="fc-button-effect"><span></span></span></span></span><span class="fc-header-space"></span><span class="fc-button fc-button-agendaWeek ui-state-default ui-corner-left ui-corner-right"><span class="fc-button-inner"><span class="fc-button-content">Week</span><span class="fc-button-effect"><span></span></span></span></span><span class="fc-header-space"></span><span class="fc-button fc-button-agendaDay ui-state-default ui-corner-left ui-corner-right"><span class="fc-button-inner"><span class="fc-button-content">Day</span><span class="fc-button-effect"><span></span></span></span></span></td>
              </tr>
            </tbody>
          </table>
          <div class="fc-content" style="position: relative; min-height: 1px;">
            <div class="fc-view fc-view-month fc-grid" style="position: relative;" unselectable="on">
              <table class="fc-border-separate" style="width:100%" cellspacing="0">
                <thead>
                  <tr class="fc-first fc-last">
                    <th class="fc-sun ui-widget-header fc-first" style="width: 108px;">Sun</th>
                    <th class="fc-mon ui-widget-header" style="width: 108px;">Mon</th>
                    <th class="fc-tue ui-widget-header" style="width: 108px;">Tue</th>
                    <th class="fc-wed ui-widget-header" style="width: 108px;">Wed</th>
                    <th class="fc-thu ui-widget-header" style="width: 108px;">Thu</th>
                    <th class="fc-fri ui-widget-header" style="width: 108px;">Fri</th>
                    <th class="fc-sat ui-widget-header fc-last">Sat</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="fc-week0 fc-first">
                    <td class="fc-sun ui-widget-content fc-day0 fc-first fc-other-month">
                      <div style="min-height: 89px;">
                        <div class="fc-day-number">28</div>
                        <div class="fc-day-content">
                          <div style="position: relative; height: 60px;">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-mon ui-widget-content fc-day1 fc-other-month">
                      <div>
                        <div class="fc-day-number">29</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-tue ui-widget-content fc-day2 fc-other-month">
                      <div>
                        <div class="fc-day-number">30</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-wed ui-widget-content fc-day3 fc-other-month">
                      <div>
                        <div class="fc-day-number">31</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-thu ui-widget-content fc-day4">
                      <div>
                        <div class="fc-day-number">1</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-fri ui-widget-content fc-day5">
                      <div>
                        <div class="fc-day-number">2</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-sat ui-widget-content fc-day6 fc-last">
                      <div>
                        <div class="fc-day-number">3</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="fc-week1">
                    <td class="fc-sun ui-widget-content fc-day7 fc-first">
                      <div style="min-height: 88px;">
                        <div class="fc-day-number">4</div>
                        <div class="fc-day-content">
                          <div style="position: relative; height: 0px;">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-mon ui-widget-content fc-day8">
                      <div>
                        <div class="fc-day-number">5</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-tue ui-widget-content fc-day9">
                      <div>
                        <div class="fc-day-number">6</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-wed ui-widget-content fc-day10">
                      <div>
                        <div class="fc-day-number">7</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-thu ui-widget-content fc-day11">
                      <div>
                        <div class="fc-day-number">8</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-fri ui-widget-content fc-day12">
                      <div>
                        <div class="fc-day-number">9</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-sat ui-widget-content fc-day13 fc-last">
                      <div>
                        <div class="fc-day-number">10</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="fc-week2">
                    <td class="fc-sun ui-widget-content fc-day14 fc-first">
                      <div style="min-height: 88px;">
                        <div class="fc-day-number">11</div>
                        <div class="fc-day-content">
                          <div style="position: relative; height: 0px;">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-mon ui-widget-content fc-day15">
                      <div>
                        <div class="fc-day-number">12</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-tue ui-widget-content fc-day16">
                      <div>
                        <div class="fc-day-number">13</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-wed ui-widget-content fc-day17 ui-state-highlight fc-today">
                      <div>
                        <div class="fc-day-number">14</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-thu ui-widget-content fc-day18">
                      <div>
                        <div class="fc-day-number">15</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-fri ui-widget-content fc-day19">
                      <div>
                        <div class="fc-day-number">16</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-sat ui-widget-content fc-day20 fc-last">
                      <div>
                        <div class="fc-day-number">17</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="fc-week3">
                    <td class="fc-sun ui-widget-content fc-day21 fc-first">
                      <div style="min-height: 88px;">
                        <div class="fc-day-number">18</div>
                        <div class="fc-day-content">
                          <div style="position: relative; height: 60px;">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-mon ui-widget-content fc-day22">
                      <div>
                        <div class="fc-day-number">19</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-tue ui-widget-content fc-day23">
                      <div>
                        <div class="fc-day-number">20</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-wed ui-widget-content fc-day24">
                      <div>
                        <div class="fc-day-number">21</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-thu ui-widget-content fc-day25">
                      <div>
                        <div class="fc-day-number">22</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-fri ui-widget-content fc-day26">
                      <div>
                        <div class="fc-day-number">23</div>
                        <div class="fc-day-content">
                          <div style="position:relative"><div class="fc-event-inner fc-event-skin"><span class="fc-event-time">1:30</span><span class="fc-event-title">Mens Cross Country Championships</span></div></div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-sat ui-widget-content fc-day27 fc-last">
                      <div>
                        <div class="fc-day-number">24</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="fc-week4">
                    <td class="fc-sun ui-widget-content fc-day28 fc-first">
                      <div style="min-height: 88px;">
                        <div class="fc-day-number">25</div>
                        <div class="fc-day-content">
                          <div style="position: relative; height: 0px;">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-mon ui-widget-content fc-day29">
                      <div>
                        <div class="fc-day-number">26</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-tue ui-widget-content fc-day30">
                      <div>
                        <div class="fc-day-number">27</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-wed ui-widget-content fc-day31">
                      <div>
                        <div class="fc-day-number">28</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-thu ui-widget-content fc-day32">
                      <div>
                        <div class="fc-day-number">29</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-fri ui-widget-content fc-day33">
                      <div>
                        <div class="fc-day-number">30</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-sat ui-widget-content fc-day34 fc-last">
                      <div>
                        <div class="fc-day-number">31</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="fc-week5 fc-last">
                    <td class="fc-sun ui-widget-content fc-day35 fc-first fc-other-month">
                      <div style="min-height: 92px;">
                        <div class="fc-day-number">1</div>
                        <div class="fc-day-content">
                          <div style="position: relative; height: 44px;">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-mon ui-widget-content fc-day36 fc-other-month">
                      <div>
                        <div class="fc-day-number">2</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-tue ui-widget-content fc-day37 fc-other-month">
                      <div>
                        <div class="fc-day-number">3</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-wed ui-widget-content fc-day38 fc-other-month">
                      <div>
                        <div class="fc-day-number">4</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-thu ui-widget-content fc-day39 fc-other-month">
                      <div>
                        <div class="fc-day-number">5</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-fri ui-widget-content fc-day40 fc-other-month">
                      <div>
                        <div class="fc-day-number">6</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                    <td class="fc-sat ui-widget-content fc-day41 fc-last fc-other-month">
                      <div>
                        <div class="fc-day-number">7</div>
                        <div class="fc-day-content">
                          <div style="position:relative">&nbsp;</div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
<!--               <div style="position:absolute;z-index:8;top:0;left:0">
                <a href="/calendar/testing-event-delete" class="fc-event fc-event-skin fc-event-hori fc-corner-left fc-corner-right fc-event-default event fc-event-field-field-event-date" style="position: absolute; z-index: 8; left: 326px; width: 98px; top: 53px;">
                  <div class="fc-event-inner fc-event-skin"><span class="fc-event-time">4:00 - 5:00</span><span class="fc-event-title">Testing -- event to delete</span></div>
                </a>
                <a href="/calendar/mens-cross-country-championships" class="fc-event fc-event-skin fc-event-hori fc-corner-left fc-corner-right fc-event-default event fc-event-field-field-event-date" style="position: absolute; z-index: 8; left: 542px; width: 98px; top: 322px;">
                  <div class="fc-event-inner fc-event-skin"><span class="fc-event-time">1:30</span><span class="fc-event-title">Mens Cross Country Championships</span></div>
                </a>
                <a href="/calendar/cinderella-trail-run" class="fc-event fc-event-skin fc-event-hori fc-corner-left fc-corner-right fc-event-default event fc-event-field-field-event-date" style="position: absolute; z-index: 8; left: 3px; width: 97px; top: 322px;">
                  <div class="fc-event-inner fc-event-skin"><span class="fc-event-time">10:00</span><span class="fc-event-title">Cinderella Trail Run</span></div>
                </a>
                <a href="/calendar/mens-football-0" class="fc-event fc-event-skin fc-event-hori fc-corner-left fc-corner-right fc-event-default event fc-event-field-field-event-date" style="position: absolute; z-index: 8; left: 650px; width: 101px; top: 502px;">
                  <div class="fc-event-inner fc-event-skin"><span class="fc-event-time">10:30 - 2:30</span><span class="fc-event-title">Mens Football</span></div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
        <div class="fullcalendar-content" style="display: none;">
          <div class="fullcalendar-event">
            <h3 class="title">Nursing Program Holds Pinning Ceremony</h3>
            <div class="fullcalendar-instance"><a href="/calendar/nursing-program-holds-pinning-ceremony" allday="" start="2013-05-31 15:30:00" end="2013-05-31 15:30:00" editable="" field="field_event_date" index="0" eid="17" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Nursing Program Holds Pinning Ceremony" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-05-31T15:30:00-07:00">3:30 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Two programs for the more advanced actor/dancer/singer!  </h3>
            <div class="fullcalendar-instance"><a href="/calendar/two-programs-more-advanced-actordancersinger" allday="" start="2013-05-29 16:00:00" end="2013-05-29 18:00:00" editable="" field="field_event_date" index="0" eid="30" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Two programs for the more advanced actor/dancer/singer!  " class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-05-29T16:00:00-07:00">4:00 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Legacy Players </h3>
            <div class="fullcalendar-instance"><a href="/calendar/legacy-players" allday="" start="2012-04-27 14:00:00" end="2012-04-27 14:00:00" editable="" field="field_event_date" index="0" eid="40" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Legacy Players " class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2012-04-27T14:00:00-07:00">2:00 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Blood Drive  </h3>
            <div class="fullcalendar-instance">
              <a href="/calendar/blood-drive" allday="" start="2013-05-29 23:00:00" end="2013-05-29 23:00:00" editable="" field="field_event_date" index="0" eid="41" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Blood Drive  " class="fullcalendar-event-details">
                <div>Repeats every month   on the fourth Wednesday 3 times  . </div>
                <span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-05-29T23:00:00-07:00">11:00 PM</span>
              </a>
            </div>
            <div class="fullcalendar-instance"><a href="/calendar/blood-drive" allday="" start="2013-06-26 23:00:00" end="2013-06-26 23:00:00" editable="" field="field_event_date" index="1" eid="41" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Blood Drive  " class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-06-26T23:00:00-07:00">11:00 PM</span></a></div>
            <div class="fullcalendar-instance"><a href="/calendar/blood-drive" allday="" start="2013-07-24 23:00:00" end="2013-07-24 23:00:00" editable="" field="field_event_date" index="2" eid="41" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Blood Drive  " class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-07-24T23:00:00-07:00">11:00 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Placement Test</h3>
            <div class="fullcalendar-instance"><a href="/calendar/placement-test" allday="" start="2013-05-01 12:00:00" end="2013-05-01 12:00:00" editable="" field="field_event_date" index="0" eid="42" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Placement Test" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-05-01T12:00:00-07:00">12:00 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">First Friday Kids Show - "Wilbear's Adventure"  </h3>
            <div class="fullcalendar-instance"><a href="/calendar/first-friday-kids-show-wilbears-adventure" allday="" start="2013-05-29 12:00:00" end="2013-05-29 12:00:00" editable="" field="field_event_date" index="0" eid="43" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="First Friday Kids Show - &quot;Wilbear's Adventure&quot;  " class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-05-29T12:00:00-07:00">12:00 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Mens Basketball Championships</h3>
            <div class="fullcalendar-instance"><a href="/calendar/mens-basketball-championships" allday="" start="2012-07-01 07:00:00" end="2012-07-01 13:00:00" editable="" field="field_event_date" index="0" eid="65" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Mens Basketball Championships" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2012-07-01T07:00:00-07:00">7:00 AM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Womens Basketball Championships</h3>
            <div class="fullcalendar-instance"><a href="/calendar/womens-basketball-championships" allday="" start="2013-07-02 12:00:00" end="2013-07-02 15:30:00" editable="" field="field_event_date" index="0" eid="66" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Womens Basketball Championships" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-07-02T12:00:00-07:00">12:00 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Mens Baseball Championships</h3>
            <div class="fullcalendar-instance"><a href="/calendar/mens-baseball-championships" allday="" start="2013-07-03 13:00:00" end="2013-07-03 15:00:00" editable="" field="field_event_date" index="0" eid="67" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Mens Baseball Championships" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-07-03T13:00:00-07:00">1:00 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Mens Soccer Championships </h3>
            <div class="fullcalendar-instance"><a href="/calendar/mens-soccer-championships" allday="" start="2013-07-04 13:30:00" end="2013-07-04 16:30:00" editable="" field="field_event_date" index="0" eid="68" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Mens Soccer Championships " class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-07-04T13:30:00-07:00">1:30 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Womens Soccer Championships</h3>
            <div class="fullcalendar-instance"><a href="/calendar/womens-soccer-championships" allday="" start="2013-07-06 13:30:00" end="2013-07-06 15:30:00" editable="" field="field_event_date" index="0" eid="69" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Womens Soccer Championships" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-07-06T13:30:00-07:00">1:30 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Mens Cross Country Championships</h3>
            <div class="fullcalendar-instance"><a href="/calendar/mens-cross-country-championships" allday="" start="2013-08-23 13:30:00" end="2013-08-23 13:30:00" editable="" field="field_event_date" index="0" eid="70" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Mens Cross Country Championships" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-08-23T13:30:00-07:00">1:30 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Womens Volleyball Championship</h3>
            <div class="fullcalendar-instance"><a href="/calendar/womens-volleyball-championship" allday="" start="2013-05-29 13:30:00" end="2013-05-29 13:30:00" editable="" field="field_event_date" index="0" eid="71" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Womens Volleyball Championship" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-05-29T13:30:00-07:00">1:30 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Mens football team vs OSU</h3>
            <div class="fullcalendar-instance"><a href="/calendar/mens-football-team-vs-osu" allday="" start="2013-05-01 13:30:00" end="2013-05-01 15:30:00" editable="" field="field_event_date" index="0" eid="72" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Mens football team vs OSU" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-05-01T13:30:00-07:00">1:30 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Womens Basketball Team vs OSU</h3>
            <div class="fullcalendar-instance"><a href="/calendar/womens-basketball-team-vs-osu" allday="" start="2013-05-08 13:45:00" end="2013-05-08 15:45:00" editable="" field="field_event_date" index="0" eid="73" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Womens Basketball Team vs OSU" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-05-08T13:45:00-07:00">1:45 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Womens Track and field vs OSU</h3>
            <div class="fullcalendar-instance"><a href="/calendar/womens-track-and-field-vs-osu" allday="" start="2013-05-29 13:45:00" end="2013-05-29 15:45:00" editable="" field="field_event_date" index="0" eid="74" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Womens Track and field vs OSU" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-05-29T13:45:00-07:00">1:45 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Mens Football</h3>
            <div class="fullcalendar-instance"><a href="/calendar/mens-football-0" allday="" start="2013-09-07 10:30:00" end="2013-09-07 14:30:00" editable="" field="field_event_date" index="0" eid="108" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Mens Football" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-09-07T10:30:00-07:00">10:30 AM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Men's Football</h3>
            <div class="fullcalendar-instance"><a href="/calendar/mens-football" allday="" start="2013-09-14 12:00:00" end="2013-09-14 15:00:00" editable="" field="field_event_date" index="0" eid="109" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Men's Football" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-09-14T12:00:00-07:00">12:00 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Men's Football</h3>
            <div class="fullcalendar-instance"><a href="/calendar/mens-football-1" allday="" start="2012-09-13 13:45:00" end="2012-09-13 13:45:00" editable="" field="field_event_date" index="0" eid="157" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Men's Football" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2012-09-13T13:45:00-07:00">1:45 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Men's Football</h3>
            <div class="fullcalendar-instance"><a href="/calendar/mens-football-2" allday="" start="2012-09-20 13:45:00" end="2012-09-20 16:45:00" editable="" field="field_event_date" index="0" eid="158" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Men's Football" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2012-09-20T13:45:00-07:00">1:45 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Event Test</h3>
            <div class="fullcalendar-instance"><a href="/calendar/event-test" allday="" start="2013-06-29 14:30:00" end="2013-06-29 14:30:00" editable="" field="field_event_date" index="0" eid="180" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Event Test" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-06-29T14:30:00-07:00">2:30 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Test Event</h3>
            <div class="fullcalendar-instance"><a href="/calendar/test-event" allday="" start="2013-06-30 10:30:00" end="2013-06-30 10:30:00" editable="" field="field_event_date" index="0" eid="194" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Test Event" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-06-30T10:30:00-07:00">10:30 AM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">NorCal Community College Championships</h3>
            <div class="fullcalendar-instance"><a href="/calendar/norcal-community-college-championships" allday="" start="2012-11-03 12:00:00" end="2012-11-03 12:00:00" editable="" field="field_event_date" index="0" eid="237" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="NorCal Community College Championships" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2012-11-03T12:00:00-07:00">12:00 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Mt Sac Men's Invitational - 4 Miles</h3>
            <div class="fullcalendar-instance"><a href="/calendar/mt-sac-mens-invitational-4-miles" allday="" start="2012-10-12 22:45:00" end="2012-10-12 22:45:00" editable="" field="field_event_date" index="0" eid="238" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Mt Sac Men's Invitational - 4 Miles" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2012-10-12T22:45:00-07:00">10:45 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Cinderella Trail Run</h3>
            <div class="fullcalendar-instance"><a href="/calendar/cinderella-trail-run" allday="" start="2013-08-18 22:00:00" end="2013-08-18 22:00:00" editable="" field="field_event_date" index="0" eid="241" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Cinderella Trail Run" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-08-18T22:00:00-07:00">10:00 PM</span></a></div>
          </div>
          <div class="fullcalendar-event">
            <h3 class="title">Testing -- event to delete</h3>
            <div class="fullcalendar-instance"><a href="/calendar/testing-event-delete" allday="" start="2013-07-31 16:00:00" end="2013-07-31 17:00:00" editable="" field="field_event_date" index="0" eid="251" entity_type="node" cn="fc-event-default event fc-event-field-field-event-date" title="Testing -- event to delete" class="fullcalendar-event-details"><span class="date-display-single" property="dc:date" datatype="xsd:dateTime" content="2013-07-31T16:00:00-07:00">4:00 PM</span></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>