<div class="grid-item">
  <img src="" alt="">
  <span class="text">Cras rutrum pulvinar tellus</span>
</div>
<div class="grid-item">
  <img src="" alt="">
  <span class="text">Nulla porta tempus sapien</span>
</div>
<div class="grid-item">
  <img src="" alt="">
  <span class="text">Mauris aliquet mattis metus</span>
</div>
<div class="grid-item">
  <img src="" alt="">
  <span class="text">Donec id eget quam aliquam gravida</span>
</div>
<div class="grid-item">
  <img src="" alt="">
  <span class="text">In elit nulla, molestie vel, ornare sit amet.</span>
</div>