<div id="block-view-upcoming-events" class="block block-view contextual-links-region even">
  <h2 class="block-title">Upcoming events</h2>
  <div class="content">
    <div class="view view-content-lists view-id-content_lists view-display-id-panel_pane_3 content-listing event-listing upcoming-events-list view-dom-id-b99167866b1acc76a5ebffe886298d44">
      <div class="view-content">
        <div class="views-row views-row-1 views-row-odd views-row-first">
          <div class="views-field views-field-nothing">
            <span class="field-content event-calendar-date">
              <a href="/events/family-bingo-night">
                <span class="event-month">
                  <span class="date-display-single">Aug</span>
                </span>
                <span class="event-day">
                  <span class="date-display-single">12</span>
                </span>
              </a>
            </span>
          </div>
          <div class="views-field views-field-title">
            <h3 class="field-content">
              <a href="/events/family-bingo-night">Family Bingo Night, Pleasant Valley Branch</a>
            </h3>
          </div>
          <div class="views-field views-field-field-event-date-repeat">
            <div class="field-content">
              <span class="date-display-single">6:00pm</span>
            </div>
          </div>
          <div class="views-field views-field-field-event-liblocation">
            <div class="field-content">
              <a href="/location/pleasant-valley-branch">Pleasant Valley Branch</a>
            </div>
          </div>
        </div>
        <div class="views-row views-row-2 views-row-even">
          <div class="views-field views-field-nothing">
            <span class="field-content event-calendar-date">
              <a href="/events/family-fun-night-southwest-branch">
                <span class="event-month">
                  <span class="date-display-single">Aug</span>
                </span>
                <span class="event-day">
                  <span class="date-display-single">12</span>
                </span>
              </a>
            </span>
          </div>
          <div class="views-field views-field-title">
            <h3 class="field-content">
              <a href="/events/family-fun-night-southwest-branch">Family Fun Night, Southwest Branch</a>
            </h3>
          </div>
          <div class="views-field views-field-field-event-date-repeat">
            <div class="field-content">
              <span class="date-display-single">7:00pm</span>
            </div>
          </div>
          <div class="views-field views-field-field-event-liblocation">
            <div class="field-content">
              <a href="/location/southwest-branch">Southwest Branch</a>
            </div>
          </div>
        </div>
        <div class="views-row views-row-3 views-row-odd views-row-last">
          <div class="views-field views-field-nothing">
            <span class="field-content event-calendar-date">
              <a href="/events/family-fun-night-its-toys-story-southwest-branch">
                <span class="event-month">
                  <span class="date-display-single">Aug</span>
                </span>
                <span class="event-day">
                  <span class="date-display-single">12</span>
                </span>
              </a>
            </span>
          </div>
          <div class="views-field views-field-title">
            <h3 class="field-content">
              <a href="/events/family-fun-night-its-toys-story-southwest-branch">Family Fun Night: It&#039;s a Toy&#039;s Story, Southwest Branch</a>
            </h3>
          </div>
          <div class="views-field views-field-field-event-date-repeat">
            <div class="field-content">
              <span class="date-display-single">7:00pm</span>
            </div>
          </div>
          <div class="views-field views-field-field-event-liblocation">
            <div class="field-content">
              <a href="/location/southwest-branch">Southwest Branch</a>
            </div>
          </div>
        </div>
      </div>
      <div class="view-footer">
        <p>
          <a href="http://www.weberpl.lib.ut.us/events/calendar" class="more-link">View full calendar</a>
        </p>
      </div>
    </div>
  </div>
</div>
