.view-directory {
  .views-row {
    margin-bottom: 3em;
  }
  .views-field {
    margin-bottom: .25em;
    margin-left: 120px;
  }
  .views-field-field-person-headshot {
    margin: 0;
    img {
      @include placeholder(100px, 100px);
      margin-top: .24em;
      @include respond-to(tablet) {
        margin-top: .74em;
      }
    }
  }
}