<div class="panel-pane pane-views-panes pane-people-by-type-panel-pane-1">
  <div class="pane-content">
    <div class="view view-people-by-type view-id-people_by_type view-display-id-panel_pane_1 staff-directory view-dom-id-73d1e7e4da8317c750fddade99af580f">
      <div class="view-filters">
        <form action="/directory" method="get" id="views-exposed-form-people-by-type-panel-pane-1" accept-charset="UTF-8">
          <div>
            <div class="views-exposed-form">
              <div class="views-exposed-widgets clearfix">
                <div id="edit-title-wrapper" class="views-exposed-widget views-widget-filter-title">
                  <label for="edit-title">
                  Title / name keyword          </label>
                  <div class="views-widget">
                    <div class="form-item form-type-textfield form-item-title">
                      <input type="text" id="edit-title" name="title" value="" size="30" maxlength="128" class="form-text">
                    </div>
                  </div>
                </div>
                <div id="edit-type-wrapper" class="views-exposed-widget views-widget-filter-type">
                  <label for="edit-type">
                  Department or Person?          </label>
                  <div class="views-widget">
                    <div class="form-item form-type-select form-item-type">
                      <select id="edit-type" name="type" class="form-select">
                        <option value="All" selected="selected">- Any -</option>
                        <option value="dept">Department</option>
                        <option value="person">Person</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div id="edit-person-type-wrapper" class="views-exposed-widget views-widget-filter-field_type_of_person_tid_1">
                  <label for="edit-person-type">
                  Faculty or Staff?          </label>
                  <div class="views-widget">
                    <div class="form-item form-type-select form-item-person-type">
                      <select id="edit-person-type" name="person_type" class="form-select">
                        <option value="All" selected="selected">- Any -</option>
                        <option value="40">Faculty</option>
                        <option value="41">Staff</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="views-exposed-widget views-submit-button">
                  <input type="submit" id="edit-submit-people-by-type" name="" value="Search" class="form-submit">    
                </div>
                <div class="views-exposed-widget views-reset-button">
                  <input type="submit" id="edit-reset" name="op" value="Reset search" class="form-submit">      
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="view-content">
        <table class="views-view-grid cols-2">
          <tbody>
            <tr class="row-1 row-first">
              <td class="col-1 col-first">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/academic-advisement">Academic Advisement</a></h3>
                </div>
                <div class="views-field views-field-field-dept-email">
                  <div class="field-content"><a href="mailto:advisor@gatewaycc.edu">advisor@gatewaycc.edu</a></div>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8600</div>
                </div>
                <div class="views-field views-field-field-building">
                  <div class="field-content">Integrated Education Building</div>
                </div>
              </td>
              <td class="col-2 col-last">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/academic-affairs">Academic Affairs</a></h3>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8024</div>
                </div>
                <div class="views-field views-field-field-building">
                  <div class="field-content">Administrative - Faculty Wing</div>
                </div>
              </td>
            </tr>
            <tr class="row-2">
              <td class="col-1 col-first">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/admissions-records">Admissions &amp; Records</a></h3>
                </div>
                <div class="views-field views-field-field-dept-email">
                  <div class="field-content"><a href="mailto:enroll@gatewaycc.edu">enroll@gatewaycc.edu</a></div>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8200</div>
                </div>
                <div class="views-field views-field-field-building">
                  <div class="field-content">Integrated Education Building</div>
                </div>
                <div class="views-field views-field-field-room">
                  <span class="views-label views-label-field-room">Room</span>    
                  <div class="field-content">IE1214</div>
                </div>
              </td>
              <td class="col-2 col-last">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/automotive">Automotive</a></h3>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8629</div>
                </div>
              </td>
            </tr>
            <tr class="row-3">
              <td class="col-1 col-first">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/bookstore">Bookstore</a></h3>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8400</div>
                </div>
                <div class="views-field views-field-field-building">
                  <div class="field-content">Main Building</div>
                </div>
                <div class="views-field views-field-field-room">
                  <span class="views-label views-label-field-room">Room</span>    
                  <div class="field-content">MA1200</div>
                </div>
              </td>
              <td class="col-2 col-last">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/career-and-employment-services">Career and Employment Services</a></h3>
                </div>
                <div class="views-field views-field-field-dept-email">
                  <div class="field-content"><a href="mailto:careercenter@gatewaycc.edu">careercenter@gatewaycc.edu</a></div>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8500</div>
                </div>
                <div class="views-field views-field-field-fax">
                  <span class="views-label views-label-field-fax">Fax: </span>    
                  <div class="field-content">(602) 286-8151</div>
                </div>
                <div class="views-field views-field-field-building">
                  <div class="field-content">Integrated Education Building</div>
                </div>
                <div class="views-field views-field-field-room">
                  <span class="views-label views-label-field-room">Room</span>    
                  <div class="field-content">IE1230</div>
                </div>
              </td>
            </tr>
            <tr class="row-4">
              <td class="col-1 col-first">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/cashiers-office">Cashier's Office</a></h3>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8277</div>
                </div>
                <div class="views-field views-field-field-building">
                  <div class="field-content">Integrated Education Building</div>
                </div>
                <div class="views-field views-field-field-room">
                  <span class="views-label views-label-field-room">Room</span>    
                  <div class="field-content">IE1214</div>
                </div>
              </td>
              <td class="col-2 col-last">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/childrens-learning-center">Children's Learning Center</a></h3>
                </div>
                <div class="views-field views-field-field-dept-email">
                  <div class="field-content"><a href="mailto:clc@gatewaycc.edu">clc@gatewaycc.edu</a></div>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8130</div>
                </div>
              </td>
            </tr>
            <tr class="row-5">
              <td class="col-1 col-first">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/computer-commons">Computer Commons</a></h3>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8411</div>
                </div>
                <div class="views-field views-field-field-fax">
                  <span class="views-label views-label-field-fax">Fax: </span>    
                  <div class="field-content">(602) 286-8405</div>
                </div>
                <div class="views-field views-field-field-building">
                  <div class="field-content">Main Building</div>
                </div>
                <div class="views-field views-field-field-room">
                  <span class="views-label views-label-field-room">Room</span>    
                  <div class="field-content">MA2122</div>
                </div>
              </td>
              <td class="col-2 col-last">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/counseling">Counseling</a></h3>
                </div>
                <div class="views-field views-field-field-dept-email">
                  <div class="field-content"><a href="mailto:cooper@gatewaycc.edu">cooper@gatewaycc.edu</a></div>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8900</div>
                </div>
                <div class="views-field views-field-field-building">
                  <div class="field-content">Integrated Education Building</div>
                </div>
                <div class="views-field views-field-field-room">
                  <span class="views-label views-label-field-room">Room</span>    
                  <div class="field-content">IE1202</div>
                </div>
              </td>
            </tr>
            <tr class="row-6 row-last">
              <td class="col-1 col-first">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/disability-resources">Disability Resources</a></h3>
                </div>
                <div class="views-field views-field-field-dept-email">
                  <div class="field-content"><a href="mailto:cooper@gatewaycc.edu">cooper@gatewaycc.edu</a></div>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8170</div>
                </div>
                <div class="views-field views-field-field-fax">
                  <span class="views-label views-label-field-fax">Fax: </span>    
                  <div class="field-content">(602) 286-8122</div>
                </div>
                <div class="views-field views-field-field-building">
                  <div class="field-content">Integrated Education Building</div>
                </div>
                <div class="views-field views-field-field-room">
                  <span class="views-label views-label-field-room">Room</span>    
                  <div class="field-content">IE1208</div>
                </div>
              </td>
              <td class="col-2 col-last">
                <div class="views-field views-field-title">
                  <h3 class="field-content"><a href="/directory/dual-enrollment-office">Dual Enrollment Office</a></h3>
                </div>
                <div class="views-field views-field-field-dept-email">
                  <div class="field-content"><a href="mailto:dual@gatewaycc.edu">dual@gatewaycc.edu</a></div>
                </div>
                <div class="views-field views-field-field-dept-phone">
                  <span class="views-label views-label-field-dept-phone">Phone: </span>    
                  <div class="field-content">(602) 286-8671</div>
                </div>
                <div class="views-field views-field-field-fax">
                  <span class="views-label views-label-field-fax">Fax: </span>    
                  <div class="field-content">(602) 286-8675</div>
                </div>
                <div class="views-field views-field-field-building">
                  <div class="field-content">Administrative - Faculty Wing</div>
                </div>
                <div class="views-field views-field-field-room">
                  <span class="views-label views-label-field-room">Room</span>    
                  <div class="field-content">AF206</div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="element-invisible">Pages</h2>
      <div class="item-list">
        <ul class="pager clearfix">
          <li class="pager-current first">1</li>
          <li class="pager-item"><a title="Go to page 2" href="/directory?title=&amp;type=All&amp;person_type=All&amp;expertise=All&amp;page=1">2</a></li>
          <li class="pager-item"><a title="Go to page 3" href="/directory?title=&amp;type=All&amp;person_type=All&amp;expertise=All&amp;page=2">3</a></li>
          <li class="pager-item"><a title="Go to page 4" href="/directory?title=&amp;type=All&amp;person_type=All&amp;expertise=All&amp;page=3">4</a></li>
          <li class="pager-item"><a title="Go to page 5" href="/directory?title=&amp;type=All&amp;person_type=All&amp;expertise=All&amp;page=4">5</a></li>
          <li class="pager-item"><a title="Go to page 6" href="/directory?title=&amp;type=All&amp;person_type=All&amp;expertise=All&amp;page=5">6</a></li>
          <li class="pager-item"><a title="Go to page 7" href="/directory?title=&amp;type=All&amp;person_type=All&amp;expertise=All&amp;page=6">7</a></li>
          <li class="pager-item"><a title="Go to page 8" href="/directory?title=&amp;type=All&amp;person_type=All&amp;expertise=All&amp;page=7">8</a></li>
          <li class="pager-item"><a title="Go to page 9" href="/directory?title=&amp;type=All&amp;person_type=All&amp;expertise=All&amp;page=8">9</a></li>
          <li class="pager-ellipsis">…</li>
          <li class="pager-next"><a title="Go to next page" href="/directory?title=&amp;type=All&amp;person_type=All&amp;expertise=All&amp;page=1">next ›</a></li>
          <li class="pager-last last"><a title="Go to last page" href="/directory?title=&amp;type=All&amp;person_type=All&amp;expertise=All&amp;page=17">last »</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>