<div class="panel-pane pane-views-panes pane-people-by-type-panel-pane-3 rounded-corners odd last" id="white-bkgrd">
  <div class="pane-content">
    <div class="view view-people-by-type view-id-people_by_type view-display-id-panel_pane_3 view-dom-id-9421bb938896fd39501c81ef549264ae jquery-once-1-processed">
      <div class="view-filters">
        <form action="/cwi/content/faculty-staff-directory" method="get" id="views-exposed-form-people-by-type-panel-pane-3" accept-charset="UTF-8" class="jquery-once-1-processed">
          <div>
            <div class="views-exposed-form">
              <div class="views-exposed-widgets clearfix">
                <div id="edit-field-person-namefirst-value-wrapper" class="views-exposed-widget views-widget-filter-field_person_namefirst_value">
                  <label for="edit-field-person-namefirst-value">
                  First name          </label>
                  <div class="views-widget">
                    <div class="form-item form-type-textfield form-item-field-person-namefirst-value">
                      <input type="text" id="edit-field-person-namefirst-value" name="field_person_namefirst_value" value="" size="30" maxlength="128" class="form-text">
                    </div>
                  </div>
                </div>
                <div id="edit-field-person-namelast-value-wrapper" class="views-exposed-widget views-widget-filter-field_person_namelast_value">
                  <label for="edit-field-person-namelast-value">
                  Last name          </label>
                  <div class="views-widget">
                    <div class="form-item form-type-textfield form-item-field-person-namelast-value">
                      <input type="text" id="edit-field-person-namelast-value" name="field_person_namelast_value" value="" size="30" maxlength="128" class="form-text">
                    </div>
                  </div>
                </div>
                <div id="edit-field-person-department-tid-wrapper" class="views-exposed-widget views-widget-filter-field_person_department_tid">
                  <label for="edit-field-person-department-tid">
                  or Filter by Department          </label>
                  <div class="views-widget">
                    <div class="form-item form-type-select form-item-field-person-department-tid">
                      <select id="edit-field-person-department-tid" name="field_person_department_tid" class="form-select">
                        <option value="All" selected="selected">- Any -</option>
                        <option value="422">ABE Department</option>
                        <option value="479">Accounting</option>
                        <option value="441">Accounts Receivable</option>
                        <option value="511">Admin, Appl Acct, Legal Admin</option>
                        <option value="442">Admissions</option>
                        <option value="470">Adult Basic Education</option>
                        <option value="507">Advanced Learning Partnership</option>
                        <option value="457">Advancement/Foundation</option>
                        <option value="435">American Sign Language</option>
                        <option value="505">Anthropology</option>
                        <option value="480">AP/Fixed Assets</option>
                        <option value="478">Art</option>
                        <option value="427">Assessment</option>
                        <option value="525">Auto Body</option>
                        <option value="513">Automotive Technology</option>
                        <option value="506">Biology</option>
                        <option value="531">Budget Office</option>
                        <option value="451">Building Specialties</option>
                        <option value="455">Bus Partners/Wrkfrc Dev Admin</option>
                        <option value="454">Business</option>
                        <option value="439">Business &amp; Computer</option>
                        <option value="437">Business &amp; Information Tech</option>
                        <option value="489">Business Office</option>
                        <option value="434">Business, Education &amp; Wellness</option>
                        <option value="431">Center for Workforce Developme</option>
                        <option value="464">Communication</option>
                        <option value="491">Communications &amp; Marketing</option>
                        <option value="430">Community Education</option>
                        <option value="456">Community Relations</option>
                        <option value="527">Computer Information Systems</option>
                        <option value="477">Construction</option>
                        <option value="475">Criminal Justice</option>
                        <option value="484">Culinary Arts</option>
                        <option value="461">Dental Assisting</option>
                        <option value="524">Drafting Technology</option>
                        <option value="438">Dual/Concurrent Enroll Program</option>
                        <option value="469">E&amp;SS Admin</option>
                        <option value="533">Electrical</option>
                        <option value="499">Electronics Technology</option>
                        <option value="449">Emergency Medical Services</option>
                        <option value="481">Emergency Services Training</option>
                        <option value="474">Enrollment &amp; Student Services</option>
                        <option value="429">Enterprise Application Service</option>
                        <option value="432">Exec Vice-President's Office</option>
                        <option value="426">Facilities Admin</option>
                        <option value="473">Finance</option>
                        <option value="465">Financial Aid</option>
                        <option value="482">Fire Services Training</option>
                        <option value="495">General Ed Admin</option>
                        <option value="446">Health &amp; Human Services</option>
                        <option value="493">Health Administration</option>
                        <option value="425">Health Programs</option>
                        <option value="515">Health Sciences</option>
                        <option value="528">Heavy Duty Truck Technician</option>
                        <option value="440">Heavy Equipment Technology</option>
                        <option value="428">Helpdesk Services</option>
                        <option value="501">History</option>
                        <option value="468">Horticulture</option>
                        <option value="460">HR Admin</option>
                        <option value="459">Human Resources</option>
                        <option value="518">HVAC</option>
                        <option value="496">Idaho Profess Driver Training</option>
                        <option value="436">Information Technology</option>
                        <option value="488">Information Technology Admin</option>
                        <option value="476">Instruction</option>
                        <option value="424">Languages &amp; Arts</option>
                        <option value="520">Library</option>
                        <option value="487">Maintenance</option>
                        <option value="463">Manufacturing</option>
                        <option value="522">Manufacturing Systems Tech</option>
                        <option value="462">Medical Assistant</option>
                        <option value="512">Medical Terminology</option>
                        <option value="445">Multimedia Services</option>
                        <option value="529">Network Engineering Services</option>
                        <option value="532">Nursing RN</option>
                        <option value="448">Onestop Centers</option>
                        <option value="443">Online Learning</option>
                        <option value="516">Payroll</option>
                        <option value="534">Phlebotomy</option>
                        <option value="419">Physical &amp; Natural Sciences</option>
                        <option value="509">Physical Education</option>
                        <option value="519">Planning &amp; Assessment</option>
                        <option value="420">Plumbing</option>
                        <option value="494">Political Science</option>
                        <option value="485">Practical Nursing</option>
                        <option value="458">President's Office</option>
                        <option value="500">Professional Tech Education</option>
                        <option value="490">Psychology</option>
                        <option value="466">Rec &amp; Small Engine Repair Tech</option>
                        <option value="467">Registrar</option>
                        <option value="504">Risk Management</option>
                        <option value="452">Security</option>
                        <option value="444">Social &amp; Behavioral Sciences</option>
                        <option value="502">Social Work</option>
                        <option value="498">Sociology</option>
                        <option value="514">Spanish</option>
                        <option value="472">Student Enrichment</option>
                        <option value="521">Student Health Center</option>
                        <option value="510">Surgical Technology</option>
                        <option value="421">Systems Engineering Services</option>
                        <option value="530">Theatre Arts</option>
                        <option value="418">Trade &amp; Technology</option>
                        <option value="417">Transportation</option>
                        <option value="423">Tutoring</option>
                        <option value="508">VP Finance &amp; Administration</option>
                        <option value="433">VP Instruction &amp; SS</option>
                        <option value="453">VP Resource Development</option>
                        <option value="526">Welding &amp; Metals Fabrication</option>
                        <option value="535">Welding and Metals Fabrication</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="views-exposed-widget views-submit-button">
                  <input type="submit" id="edit-submit-people-by-type" name="" value="Search" class="form-submit">    
                </div>
                <div class="views-exposed-widget views-reset-button">
                  <input type="reset" id="edit-reset" onclick="history.go(0)" name="op" value="Reset" class="form-submit">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="attachment attachment-before">
        <div class="view view-people-by-type view-id-people_by_type view-display-id-attachment_1">
          <div class="view-header">
            Filter by Last Name:    
          </div>
          <div class="view-content">
            <span class="views-summary views-summary-unformatted">        <a href="/cwi/content/faculty-staff-directory/A?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">A</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/B?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">B</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/C?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">C</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/D?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">D</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/E?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">E</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/F?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">F</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/G?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">G</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/H?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">H</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/I?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">I</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/J?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">J</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/K?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">K</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/L?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">L</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/M?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">M</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/N?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">N</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/O?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">O</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/P?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">P</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/Q?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">Q</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/R?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">R</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/S?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">S</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/T?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">T</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/U?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">U</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/V?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">V</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/W?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">W</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/Y?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">Y</a>
            </span>  <span class="views-summary views-summary-unformatted">    |    <a href="/cwi/content/faculty-staff-directory/Z?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All">Z</a>
            </span>    
          </div>
        </div>
      </div>
      <div class="view-content">
        <table class="views-view-grid cols-1">
          <tbody>
            <tr class="row-1 row-first">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/ms-kayla-adams"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/ms-kayla-adams">Ms. Kayla Adams</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Work Study - State</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:kaylaadams@cwidaho.cc">kaylaadams@cwidaho.cc</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-2">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/faculty/mr-cory-adamson"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/person_contenttype/headshot/adamsoncory.jpg?itok=8K109xVU" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/faculty/mr-cory-adamson">Mr. Cory Adamson</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Instructor</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.2396</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:coryadamson@cwidaho.cc">coryadamson@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/trade-technology" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Trade &amp; Technology</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-3">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/faculty/candice-adkins"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/faculty/candice-adkins"> Candice Adkins</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Faculty - Adjunct</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.2396</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:candiceadkins@cwidaho.cc">candiceadkins@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/physical-natural-sciences" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Physical &amp; Natural Sciences</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-4">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/faculty/ms-allison-albanese"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/person_contenttype/headshot/albaneseallison.jpg?itok=Y4y46wvr" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/faculty/ms-allison-albanese">Ms. Allison Albanese</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Assistant Professor</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.2037</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:allisonalbanese@cwidaho.cc">allisonalbanese@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/physical-natural-sciences" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Physical &amp; Natural Sciences</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-5">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/mr-terry-alber"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/mr-terry-alber">Mr. Terry Alber</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Teacher</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:terryalber@cwidaho.cc">terryalber@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/plumbing" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Plumbing</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-6">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/graham-alderson"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/graham-alderson"> Graham Alderson</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Systems Engineer III</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.3393</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:grahamalderson@cwidaho.cc">grahamalderson@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/systems-engineering-services" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Systems Engineering Services</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-7">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/maria-aldinger"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/maria-aldinger"> Maria Aldinger</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Teacher-ABE EL Civics 06</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:mariaaldinger@cwidaho.cc">mariaaldinger@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/abe-department" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">ABE Department</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-8">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/wade-aldridge"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/wade-aldridge"> Wade Aldridge</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Tutor - Instruction</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:wadealdridge@cwidaho.cc">wadealdridge@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/tutoring" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Tutoring</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-9">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/paul-allen"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/paul-allen"> Paul Allen</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Maintenance Craftsman</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.2455</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:paulallen@cwidaho.cc">paulallen@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/facilities-admin" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Facilities Admin</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-10">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/faculty/anne-allen"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/faculty/anne-allen"> Anne Allen</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Faculty - Adjunct</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:anneallen@cwidaho.cc">anneallen@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/languages-arts" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Languages &amp; Arts</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-11">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/ms-cheryl-allen"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/ms-cheryl-allen">Ms. Cheryl Allen</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Teacher-ABE Federal Direct Services 02</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:cherylallen2@cwidaho.cc">cherylallen2@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/abe-department" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">ABE Department</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-12">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/ambra-allgood"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/ambra-allgood"> Ambra Allgood</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Community Education Teacher</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:ambraallgood@cwidaho.cc">ambraallgood@cwidaho.cc</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-13">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/ms-kate-alworth"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/ms-kate-alworth">Ms. Kate Alworth</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Manager I, Student Enrichment</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.2443</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:katharinealworth@cwidaho.cc">katharinealworth@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/assessment" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Assessment</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-14">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/william-alworth"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/william-alworth"> William Alworth</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Systems Developer II</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.3192</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:williamalworth@cwidaho.cc">williamalworth@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/enterprise-application-service" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Enterprise Application Service</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-15">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/faculty/erin-anchustegui"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/faculty/erin-anchustegui"> Erin Anchustegui</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Faculty - Adjunct</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:erinanchustegui@cwidaho.cc">erinanchustegui@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/languages-arts" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Languages &amp; Arts</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-16">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/stefanie-anders"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/stefanie-anders"> Stefanie Anders</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Teacher-ABE Federal Direct Services 02</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:stefanieanders@cwidaho.cc">stefanieanders@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/abe-department" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">ABE Department</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-17">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/faculty/bartt-anderson"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/person_contenttype/headshot/andersonbartt.jpg?itok=IQ8iO70i" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/faculty/bartt-anderson"> Bartt Anderson</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Program Chair</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.2521</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:barttanderson@cwidaho.cc">barttanderson@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/business-information-tech" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Business &amp; Information Tech</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-18">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/faculty/eric-anderson"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/faculty/eric-anderson"> Eric Anderson</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Instructor</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.2338</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:ericanderson@cwidaho.cc">ericanderson@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/transportation" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Transportation</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-19">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/ms-stacy-anderson"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/ms-stacy-anderson">Ms. Stacy Anderson</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Advisor, Admissions</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.2001</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:stacyanderson@cwidaho.cc">stacyanderson@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/online-learning" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Online Learning</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-20">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/mike-anderson"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/mike-anderson"> Mike Anderson</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Specialist Sr, Student Accounts Receivable</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.2397</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:mikeanderson4@cwidaho.cc">mikeanderson4@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/accounts-receivable" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Accounts Receivable</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-21">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/mr-christopher-anderson"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/mr-christopher-anderson">Mr. Christopher Anderson</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Dual Enrollment Teacher</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:christopheranderson@cwidaho.cc">christopheranderson@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/dualconcurrent-enroll-program" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Dual/Concurrent Enroll Program</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-22">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/faculty/shannon-anderson-trimboli"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/faculty/shannon-anderson-trimboli"> Shannon Anderson-Trimboli</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Faculty - Adjunct</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:shannontrimboli@cwidaho.cc">shannontrimboli@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/social-behavioral-sciences" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Social &amp; Behavioral Sciences</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-23">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/mr-david-anes"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/mr-david-anes">Mr. David Anes</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Multimedia Coordinator III</div>
                </div>
                <div class="views-field views-field-field-person-phone">
                  <div class="field-content">208.562.3293</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:davidanes@cwidaho.cc">davidanes@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/multimedia-services" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Multimedia Services</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-24">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/staff/ms-ayumi-aoyama"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/staff/ms-ayumi-aoyama">Ms. Ayumi Aoyama</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Tutor - Instruction</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:ayumiaoyama@cwidaho.cc">ayumiaoyama@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/tutoring" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Tutoring</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-25">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/faculty/ms-julie-armstrong"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/default_images/nophotoavailable.jpg?itok=v0DeLq7R" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/faculty/ms-julie-armstrong">Ms. Julie Armstrong</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Faculty - Adjunct (PTE)</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:juliearmstrong@cwidaho.cc">juliearmstrong@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/health-human-services" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Health &amp; Human Services</a></div>
                </div>
              </td>
            </tr>
            <tr class="row-26 row-last">
              <td class="col-1 col-first">
                <div class="views-field views-field-field-person-headshot">
                  <div class="field-content"><a href="/cwi/person/faculty/mr-jake-armstrong"><img typeof="foaf:Image" src="http://drupal2.serverlogic.com/cwi/sites/default/files/styles/headshot_150x150/public/person_contenttype/headshot/armstrongjake.jpg?itok=57nypCk3" width="125" height="125" alt=""></a></div>
                </div>
                <div class="views-field views-field-title">
                  <h4 class="field-content"><a href="/cwi/person/faculty/mr-jake-armstrong">Mr. Jake Armstrong</a></h4>
                </div>
                <div class="views-field views-field-field-person-title">
                  <div class="field-content">Instructor</div>
                </div>
                <div class="views-field views-field-field-person-email">
                  <div class="field-content"><a href="mailto:jacobarmstrong@cwidaho.cc">jacobarmstrong@cwidaho.cc</a></div>
                </div>
                <div class="views-field views-field-field-person-department">
                  <div class="field-content"><a href="/cwi/department/social-behavioral-sciences" typeof="skos:Concept" property="rdfs:label skos:prefLabel" datatype="">Social &amp; Behavioral Sciences</a></div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="element-invisible">Pages</h2>
      <div class="item-list">
        <ul class="pager clearfix">
          <li class="pager-current first">1</li>
          <li class="pager-item"><a title="Go to page 2" href="/cwi/community-connections/faculty-and-staff-directory?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All&amp;page=1">2</a></li>
          <li class="pager-item"><a title="Go to page 3" href="/cwi/community-connections/faculty-and-staff-directory?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All&amp;page=2">3</a></li>
          <li class="pager-item"><a title="Go to page 4" href="/cwi/community-connections/faculty-and-staff-directory?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All&amp;page=3">4</a></li>
          <li class="pager-item"><a title="Go to page 5" href="/cwi/community-connections/faculty-and-staff-directory?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All&amp;page=4">5</a></li>
          <li class="pager-item"><a title="Go to page 6" href="/cwi/community-connections/faculty-and-staff-directory?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All&amp;page=5">6</a></li>
          <li class="pager-item"><a title="Go to page 7" href="/cwi/community-connections/faculty-and-staff-directory?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All&amp;page=6">7</a></li>
          <li class="pager-item"><a title="Go to page 8" href="/cwi/community-connections/faculty-and-staff-directory?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All&amp;page=7">8</a></li>
          <li class="pager-item"><a title="Go to page 9" href="/cwi/community-connections/faculty-and-staff-directory?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All&amp;page=8">9</a></li>
          <li class="pager-ellipsis">…</li>
          <li class="pager-next"><a title="Go to next page" href="/cwi/community-connections/faculty-and-staff-directory?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All&amp;page=1">next ›</a></li>
          <li class="pager-last last"><a title="Go to last page" href="/cwi/community-connections/faculty-and-staff-directory?field_person_namefirst_value=&amp;field_person_namelast_value=&amp;field_person_department_tid=All&amp;page=40">last »</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>