/* 
 * Font Custom: bare CSS
 */

@font-face {
  font-family: "fontcustom";
  src: url("fontcustom_dcd3083f33d1d8141f4fac423279f114.eot");
  src: url("fontcustom_dcd3083f33d1d8141f4fac423279f114.eot?#iefix") format("embedded-opentype"),
       url("fontcustom_dcd3083f33d1d8141f4fac423279f114.woff") format("woff"),
       url("fontcustom_dcd3083f33d1d8141f4fac423279f114.ttf") format("truetype"),
       url("fontcustom_dcd3083f33d1d8141f4fac423279f114.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-facebook-sign:before,
.icon-facebook:before,
.icon-twitter-sign:before,
.icon-twitter:before,
.icon-youtube:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.icon-facebook-sign:before { content: "\f100"; }
.icon-facebook:before { content: "\f101"; }
.icon-twitter-sign:before { content: "\f102"; }
.icon-twitter:before { content: "\f103"; }
.icon-youtube:before { content: "\f104"; }
