<h2 class="block-title">Grid with divs</h2>
<div class="grid">
  {{components/page-grid/grid-div/grid-items-1}}
  {{components/page-grid/grid-div/grid-items-2}}
  {{components/page-grid/grid-div/grid-items-3}}
  {{components/page-grid/grid-div/grid-items-4}}
  {{components/page-grid/grid-div/grid-items-5}}
</div>

<h2 class="block-title">Grid with UL</h2>
<ul class="grid">
  {{components/page-grid/grid-ul/grid-items-1}}
  {{components/page-grid/grid-ul/grid-items-2}}
  {{components/page-grid/grid-ul/grid-items-3}}
  {{components/page-grid/grid-ul/grid-items-4}}
  {{components/page-grid/grid-ul/grid-items-5}}
</ul>

<h2 class="block-title">Grid with OL and borders</h2>
<ol class="grid">
  {{components/page-grid/grid-ul/grid-items-1}}
  {{components/page-grid/grid-ul/grid-items-2}}
  {{components/page-grid/grid-ul/grid-items-3}}
  {{components/page-grid/grid-ul/grid-items-4}}
  {{components/page-grid/grid-ul/grid-items-5}}
</ol>