  {{wfctrl::jsrefs::/vendor/jquery.js}}

  {{wfctrl::jsrefs::/foundation/foundation.js}}
    {{wfctrl::jsrefs::/foundation/foundation.orbit.js}}
    {{wfctrl::jsrefs::/foundation/foundation.topbar.js}}

  <!-- Flexslider -->

  {{wfctrl::jsrefs::/vendor/jquery.flexslider.js}}
  {{wfctrl::jsrefs::/custom/init_flexslider.js}}


  {{wfctrl::jsrefs::/custom/scripts.js}}

  {{wfctrl::jsrefs::/vendor/jquery.wiredframe.js}}

<!-- init wiredframe script -->
{{wfctrl::js_bottom}}

<!-- Load legend overlay plugin -->
{{legendair::js::{"key":"$$q$$"} }}


</body>
</html>
